
@font-face {
	font-family: 'YouSheBiaoTiHei';
	src: url('@/assets/font/BiaoTiHei.ttf');
}
@font-face {
	font-family: 'ysbthzt';
	src: url('@/assets/font/ysbthzt.ttf');
}

:root {
  font-family: Helvetica Neue, Helvetica, PingFang SC;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family:
    // ysbthzt,
    Helvetica Neue,
    Helvetica,
    PingFang SC,
    Hiragino Sans GB,
    Microsoft YaHei,
    Arial,
    sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

html.dark .svg-icon,
html.dark svg {
  fill: var(--el-text-color-regular);
}

#app {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  overflow: hidden;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.no-padding {
  padding: 0px !important;
}

.padding-content {
  padding: 4px 0;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.pr-5 {
  padding-right: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.block {
  display: block;
}

.pointer {
  cursor: pointer;
}

.inlineBlock {
  display: block;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: ' ';
    clear: both;
    height: 0;
  }
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.component-title-text {
  font-family: YouSheBiaoTiHei;
  font-size: 26px;
  color: #FFFFFF;
  line-height: 34px;
  text-align: left;
  font-style: normal;
  background: linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 20%, #6AC1FF 100%);
  // background: linear-gradient(90deg, #FFFFFF 0%, #6AC1FF 100%);
  -webkit-background-clip: text; /* 兼容 Safari/Chrome */
  background-clip: text;
  color: transparent;
}
